#input_form {
  margin: 0 auto;
}

.spinner {
  text-align: center;
  display: none;
}

.three-quarters-loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-width: 12px;
}

.container {
  display: none;
}
